:root {
    --primary-color: #FFCF01;
    --secondary-color: #282828;
    --tertiary-color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
}

/* navbar */
header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
}

.logo i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding: .2rem 1rem;
    margin: 0 1rem;
    border-radius: 2rem;
    transition: .3s;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}

/* dark mode */
body.dark {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

body.dark header,
body.dark nav {
    background-color: transparent;
    transition: background-color 0.3s;
    color: yellow;
}

body.dark .menu-button svg {
    fill: var(--tertiary-color);
}

body.dark .arrow-two a,
body.dark .works a,
body.dark footer a {
    color: var(--tertiary-color);
}

body.dark .arrow-two a:hover,
body.dark .works a:hover,
body.dark footer a:hover {
    color: var(--primary-color);
}

body.dark nav a {
    color: var(--tertiary-color);
    transition: color 0.3s;
}

body.dark nav a:hover {
    color: var(--primary-color);
}

.sidebar {
    display: none;
    background-color: rgba(255, 255, 255, 0.342);
}

.button-dark {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--tertiary-color);
    background-color: rgb(112, 112, 112);
    transition: background-color 0.3s, color 0.3s;
}

.button-dark:hover {
    color: yellow;
    background-color: rgb(66, 65, 65);
}

.button-dark i {
    font-size: 1.4rem;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, .1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar.show {
    opacity: 1;
    transform: translateX(0);
}

.sidebar.hide {
    opacity: 0;
    transform: translateX(100%);
}

.sidebar li {
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    border-radius: 0;
    transition: color 0.3s;
}

.sidebar li:hover {
    color: rgba(255, 255, 255, 0.815);
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

/* navbar blur effect */
header.scrolled {
    backdrop-filter: blur(15px);
    transition: backdrop-filter 0.3s;
}

/* main content */

/* first */
.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.home h1 {
    font-size: 12rem;
    line-height: 1em;
    text-transform: capitalize;
}

.arrow {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
    margin: 1rem 0;
}

.arrow-one {
    display: flex;
    width: 1rem;
}

.arrow-one i {
    width: auto;
    height: 100%;
}

.arrow-two {
    width: 10rem;
    text-align: right;
}

.arrow-two a {
    color: var(--secondary-color);
    font-size: .9rem;
    text-transform: uppercase;
    transition: .3s;
} .arrow-two a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

/* second */
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.about .information {
    width: 20rem;
    margin: 6rem 0;
}

.information p {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
.information h1 {
    font-size: 1.5rem;
}

/* third */
.works {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    transition: background-color 0.3s, color 0.3s;
}

.works article h1 {
    font-size: 8rem;
    text-transform: capitalize;
    line-height: 1em;
}

.box {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 15%;
    margin: 2rem;
}

.box aside {
    width: 20rem;
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    position: relative;
}

.box aside h1 {
    margin: 0 1rem;
}

.center-box {
    position: relative;
    left: 90%;
}

.box img {
    border: 2px solid var(--primary-color);
    width: 100%;
}

.works a {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--secondary-color);
    transition: .3s;
} .works a:hover {
    color:var(--primary-color) ;
}

/* contact */
.contact {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
}

.contact p {
    font-size: 1.5rem;
}

.contact h1 {
    font-size: 10rem;
    line-height: .8em;
    margin-bottom: 4rem;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: background-color 0.3s, color 0.3s;
}

footer a {
    color: var(--secondary-color);
    transition: color .3s;
} footer a:hover {
    color: var(--primary-color);
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    nav {
        justify-content: left;
        padding: 0 2rem;
    }
    .logo {
        margin: 0 auto 0 0;
    }
    .menu-button {
        padding: 0;
    }
    .home h1 {
        font-size: 6rem;
    }
    .works article h1 {
        font-size: 6rem;
    }
    .center-box {
        left: 38%;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .home h1 {
        font-size: 5rem;
    }
    .arrow {
        margin: 4rem 0;
    }
    .information {
        width: 10%;
    }
    .works article h1 {
        font-size: 4rem;
    }
    .box h1 {
        display: none;
    }
    .center-box {
        left: 0;
    }
    .box {
        right: 0;
    }
    .contact h1 {
        margin-bottom: 0;
    }
    footer {
        flex-direction: column;
    }
}
